<!DOCTYPE html>

<html>

<head>
    <title>about</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="/img/favcon.png">


</head>


<body>
    <div class="main_content">
        {{>header}}
        <p>This site was created  by Dor.</p>
        <img src="./img/robot.png" alt="" class="portrait">
    </div>

    {{>footer}}

</body>


</html>